[submodule "src/input_nodes/MPU6050-C-CPP-Library-for-Raspberry-Pi"]
	path = src/input_nodes/MPU6050-C-CPP-Library-for-Raspberry-Pi
	url = https://github.com/alex-mous/MPU6050-C-CPP-Library-for-Raspberry-Pi.git
